/* Colors used:
Primary: FAFBF2 (Bone White)
Secondary: 000000 (Just Black)*/
/* BODY */
body {
  font-family: 'Lacquer', cursive;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

* {
  box-sizing: border-box;
}

/* background color for header */
header {
  background-color: #000000;
  padding: 10 px;
  /* inner spacing spacing */
  margin: 0 auto;
  /* outer spacing */
  border-bottom: 3px solid #4a4a4a;
  text-align: center;
  padding: 10px 0;
}

/* Navigation Bar */
nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #4a4a4a;
}

main {
  padding-top: 133px;
}


/* Hero Section */

#hero h1 {
  margin: 0;
  padding: 0.67em 0;
}

#hero {
  background-color: #FAFBF2;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

/* box sizing */
  {
  box-sizing: border-box;
}

/* Selector */
selector {
  position: relative;
  float: right;
  width: 1200px;
  width: 80%;
}

/* LAYOUT STYLING */
/* containers */
.container {
  max-width: 1200px;
  padding: 0 15px;
}

/* ROWS */
.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

/* Text Alignment */
#hero h1 {
  text-align: center;
  /* Centers text */
}

/* Logo Alignment */
.logo {
  max-width: 75px;
}

/* FONT VARIATIONS */
h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

/* IMAGE WIDTH */
img {
  width: 100%;
}

/* HYPERLINK STYLING */
a {
  color: #CF2A2A;
  text-decoration: none;
  /* No underlining */
}

/* General Links (Hover) */
a:hover {
  color: #CF2A2A;
  text-decoration: underline;
  text-decoration: bold;
  /* Underlining when hovering over a link */
}

a:visited {
  /* visited link */
  color: #68B3F9;
}

a:active {
  /* selected link */
  color: #5CB3E3;
}

/* hover */
a:hover,
a:focus {
  color: #24D681;
  text-decoration: underline;
  text-decoration: bold;
}

/* Button (Neutral) */
.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #CF2A2A;
  color: #FFFFFF;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #000000;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

/* button */
.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

/* Button (contact) */
.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

/* Button (Hover) */
.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}
