/* Colors used:
Primary: FAFBF2 (Bone White)
Secondary: 000000 (Just Black)*/
/* BODY */
body {
  font-family: 'Lacquer', sans-serif;
  <link href="https://fonts.googleapis.com/css?family=Lacquer:300,400,700" rel="stylesheet">
    background-color: #ffffff;
    font-family: 'Lacquer', sans-serif;
    font-size: 16px;
    /* Sets the font size to 16px */
    font-weight: 300;
    /* Sets the font weight to 300 */
    line-height: 1.6;
    /* Sets the line-height to 1.6 * the font-size */
    color: #4a4a4a;
  }

  /* FONT VARIATIONS */
  h1, h2, h3, h4 {
    line-height: 1.4;
  }

  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }

  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }

  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }

  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }

/* IMAGE WIDTH */
img {
  width: 100%;
}

/* HYPERLINK STYLING */
a {
  color: #CF2A2A;
  text-decoration: none;
  /* No underlining */
}

/* General Links (Hover) */
a:hover {
  color: #CF2A2A;
  text-decoration: underline;
  text-decoration: bold;
  /* Underlining when hovering over a link */
}

a:visited {
  /* visited link */
  color: #68B3F9;
}

a:active {
  /* selected link */
  color: #5CB3E3;
}

/* hover */
a:hover,
a:focus {
  color: #24D681;
  text-decoration: underline;
  text-decoration: bold;
}

/* Button (Neutral) */
.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #CF2A2A;
  color: #FFFFFF;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #000000;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

/* button */
.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

/* Button (contact) */
.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

/* Button (Hover) */
.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}
