/* CSS FILE */
body {
  font-family: 'Lacquer', cursive;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #000000;
}

* {
  box-sizing: border-box;
}

/* logo */
.logo {
  max-width: 250px;
}

/* background color for header */
header {
  background-color: #000000;
  padding: 10px;
  position: relative;
  /* inner spacing spacing */
  margin: 0 auto;
  /* outer spacing */
  border-bottom: 3px solid #4a4a4a;
  text-align: unset;
  padding: 10px 0;
}

/* Navigation Bar */
nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 20px;
  text-transform: none;
  font-weight: 400;
  color: #4a4a4a;
}

/* Main */
main {
  padding-top: 133px;
}

/* Hero Section */
#hero h1 {
  margin: 0;
  padding: 0.67em 0;
  text-align: center;
}

#hero span {
  display: block;
}

#hero {
  background-color: #CF2A2A;
  color: white;
  padding: 15px 0;
  display: inline-block;
  width: 100%;
}


  /* svg animations */
  .svg {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  @keyframes color-change {
    from {
      fill: #edc655;
    }

    to {
      fill: #f76414;
    }
  }

  @keyframes color-change {
    0% {
      fill: #edc655;
    }

    50% {
      fill: #fcffad;
    }

    100% {
      fill: #f76414;
    }
  }

  .sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes cloud-move {
    from {
      transform: translate(0, 50px);
    }

    to {
      transform: translate(200px, 50px);
    }
  }

  .cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes cloud-move-reverse {
    from {
      transform: translate(446px, 48px);
    }

    to {
      transform: translate(100px, 48px);
    }
  }

  .cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }

  /* box sizing */
* {
    box-sizing: border-box;
  }

  /* LAYOUT STYLING */
  /* containers */
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }

  /* rows */
  .row {
    margin: 25px 0;
    /* 25px top and bottom, 0 left and right */
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #work .row {
    padding-bottom: 25px;
    border-bottom: 1px solid #4a4a4a;
  }

  /* Logo Alignment */
  .logo {
    max-width: 75px;
  }

  /* FONT VARIATIONS */
  h1, h2, h3, h4 {
    line-height: 1.4;
  }

  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }

  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }

  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }

  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }

  /* IMAGE WIDTH */
  img {
    width: 100%;
  }

  /* HYPERLINK STYLING */
  a {
    color: #CF2A2A;
    text-decoration: none;
    /* No underlining */
  }

  /* General Links (Hover) */
  a:hover {
    color: #CF2A2A;
    text-decoration: underline;
    /* Underlining when hovering over a link */
  }

  a:visited {
    /* visited link */
    color: #68B3F9;
  }

  a:active {
    /* selected link */
    color: #5CB3E3;
  }

  /* Button (Neutral) */
  .button {
    display: inline-block;
    /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #CF2A2A;
    color: #FFFFFF;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #000000;
    transition: 0.2s opacity;
    display: inline-block;
    transition-duration: 0.2s;
    transition-property: opacity;
  }

  /* button */
  .button:hover {
    opacity: 0.8;
    text-decoration: none;
  }

  /* Button (contact) */
  .button.contact {
    background-color: transparent;
    color: #ff7f50;
    text-transform: uppercase;
    border: 2px solid #ff7f50;
  }

  /* Button (Hover) */
  .button.contact:hover {
    background-color: #ff7f50;
    color: #ffffff;
  }

  /* hover */
  a:hover,
  a:focus {
    color: #24D681;
    text-decoration: underline;
  }

  /* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
}
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
  }

  /* ==============================
Large devices (1024px or larger)
================================= */
  @media only screen and (min-width: 1024px) {
    nav {
      width: auto;
      float: right;
      margin-top: 4px;
    }
}
    .col-lg-7 {
      width: 50%;
    }

    .col-lg-5 {
      width: 50%;
    }

    /* ==============================
X-large devices (1440px or larger)
================================= */
    @media only screen and (min-width: 1440px) {}

    /* ==============================
Extra-large devices (1920px or larger)
================================= */

    @media only screen and (min-width: 1920px) {}
